<div class="w3-flex-item-c w3-card w3-white">
  <div class="w3-flex-item-content">
    <div class="w3-margin-bottom">
      <div class="comp-img">
        <img src="{{this.imageUrl}}" alt="{{this.title}}">
      </div>
      <div class="w3-center">
        <p>{{this.title}}</p>
        {{#if this.typeOfClothes}}
        <p>{{this.typeOfClothes}}</p>
        {{else}}
        <p>&nbsp;</p>
        {{/if}}
      </div>
    </div>
    <div class="w3-center">
      <a href="/secret/component/detail/{{this.type}}/{{this._id}}" class="w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-eye"></i> View</a>
      <a href="/secret/component/edit/{{this.type}}/{{this._id}}" class="w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-pencil"></i> Edit</a>
      <a href="/secret/component/delete/{{this.type}}/{{this._id}}" class="w3-button w3-wide w3-red w3-small w3-margin-bottom"><i class="fa fa-trash"></i> Delete</a>
    </div>
  </div>
</div>
