<div id="footer-spc"></div>
<div class="footer-fix w3-gray w3-small">
    <div class="w3-bar">
        <div class="w3-bar-item padding-0"><img id="dwb-logo" src="/images/p-logo_w_s.png" alt="piranha logo"></div>
        <div class="w3-bar-item">(c) 2020 by j.t. &amp; d.w.b &mdash; w3.css</div>
        {{#if status.logged }}
        <div class="w3-bar-item w3-blue-gray w3-right">
            <b>Login as:</b> {{name}}
        </div>
        {{/if}}
        <div class="w3-bar-item w3-dark-gray w3-right">
        <span>&nbsp;<b>Route:</b> [{{router}}] <b>Source:</b> [{{source}}] <b>Status:</b> <i>Login</i> [{{status.login}}] <i>Logged</i> [{{status.logged}}]</span>
        </div>
    </div>
</div>


