<div id="start" class="header-spc"></div>
<div class="w3-container">
    <h2 class="small-caps">Edit Fabric</h2>
    <hr>
</div>

<div class="w3-container">
  <div class="w3-card-4 w3-padding w3-margin-bottom w3-white" style="width: 80%; ">
    <div class="w3-container w3-deep-orange">
      <h2>Edit Fabric</h2>
    </div>
    {{#if this.fabric.prjId}}
    <form class="w3-container" action='/secret/component/edit/fabric/{{this.fabric._id}}/{{this.fabric.prjId}}' method="POST">
    {{else}}
    <form class="w3-container" action='/secret/component/edit/fabric/{{this.fabric._id}}' method="POST">
    {{/if}}

      <label class="w3-text-blue"><b>Fabric Name</b></label>
      <input class="w3-input w3-border w3-light-grey" name="name" type="text" required value="{{this.fabric.name}}">
      
      <label class="w3-text-blue"><b>Description</b></label>
      <input class="w3-input w3-border w3-light-grey" name="description" type="text" value="{{this.fabric.description}}">
      
      <label class="w3-text-blue"><b>Image</b></label>
      <input class="w3-input w3-border w3-light-grey" name="imageUrl" type="url" value="{{this.fabric.imageUrl}}">
      
      <label class="w3-text-blue"><b>Made of</b></label>
      <input class="w3-input w3-border w3-light-grey" name="material" type="text" value="{{this.fabric.material}}">
      
      <label class="w3-text-blue"><b>Fabric Length</b></label>
      <input class="w3-input w3-border w3-light-grey" name="length" type="number" required value="{{this.fabric.length}}">
      
      <label class="w3-text-blue"><b>Fabric Width</b></label>
      <input class="w3-input w3-border w3-light-grey" name="width" type="number" required value="{{this.fabric.width}}">
      
      <label class="w3-text-blue"><b>Main Color</b></label>
      <input class="w3-input w3-border w3-light-grey" name="color" type="text" value="{{this.fabric.color}}">
      
      <label class="w3-text-blue"><b>Pattern</b></label> <br>
      <p><input id="fabric-without-pattern" class="w3-radio w3-border w3-light-grey" name="pattern" type="radio" value="false" {{this.fabric.noPattern}}>Fabric without a pattern</p>
      <p><input id="fabric-with-pattern" class="w3-radio w3-border w3-light-grey" name="pattern" type="radio" value="true" {{this.fabric.hasPattern}}>Fabric has a pattern</p>

      <br>
      <p><button class="w3-btn w3-blue" type="submit"><i class="fa fa-file-o fa-pad"></i>Save</button></p>
    </form>
  </div>
</div>
