<div id="start" class="header-spc"></div>

<div class="w3-container">
<div class="w3-card w3-round-large w3-margin-bottom w3-white" style="width: 80%; margin-left: 10%; ">
  <div class="w3-container w3-deep-orange w3-margin-bottom">
    <h3 class="small-caps">Edit Fabric</h3>
  </div>
  
  {{#if this.fabric.prjId}}
    <form class="w3-padding" action='/secret/component/edit/fabric/{{this.fabric._id}}/{{this.fabric.prjId}}' method="POST">
  {{else}}
    <form class="w3-padding" action='/secret/component/edit/fabric/{{this.fabric._id}}' method="POST">
  {{/if}}

    <label class="w3-text-blue"><b>Fabric Name</b></label>
    <input class="w3-input w3-border w3-margin-bottom" name="name" type="text" required value="{{this.fabric.name}}">
    
    <label class="w3-text-blue"><b>Description</b></label>
    <textarea class="w3-input w3-border w3-margin-bottom" maxlength="500" rows="2" name="description">{{this.fabric.description}}</textarea>
        
    <label class="w3-text-blue"><b>Image</b></label>
    <input class="w3-input w3-border w3-margin-bottom" name="imageUrl" type="text" value="{{this.fabric.imageUrl}}">
    
    <label class="w3-text-blue"><b>Made of</b></label>
    <input class="w3-input w3-border w3-margin-bottom" name="material" type="text" value="{{this.fabric.material}}">
    
    <div class="w3-row-padding">
      <div class="w3-half">
        <label class="w3-text-blue"><b>Fabric Length</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="length" type="number" required value="{{this.fabric.length}}">
      </div>
      <div class="w3-half">
        <label class="w3-text-blue"><b>Fabric Width</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="width" type="number" required value="{{this.fabric.width}}">
      </div>
    </div>
    
    <label class="w3-text-blue"><b>Main Color</b></label>
    <input class="w3-input w3-border w3-margin-bottom" name="color" type="text" value="{{this.fabric.color}}">
    
    <label class="w3-text-blue"><b>Pattern</b></label> <br>
    <p><input id="fabric-without-pattern" class="w3-radio w3-border" name="pattern" type="radio" value="false" {{this.fabric.noPattern}}>Fabric without a pattern</p>
    <p><input id="fabric-with-pattern" class="w3-radio w3-border w3-margin-bottom" name="pattern" type="radio" value="true" {{this.fabric.hasPattern}}>Fabric has a pattern</p>
          
    <p>
    <button class="w3-btn w3-blue w3-margin" type="submit">Save</button>
    </p>
  </form>
  </div>
  <div style="width: 80%; margin-left: 10%; ">
      <a href="/secret/component/view" class="w3-button w3-blue w3-small w3-margin"><i class="fa fa-eye fa-pad"></i>
        View Components</a>
  </div>
</div>
