<div id="start" class="header-spc"></div>
<div class="w3-container">
    <h2 class="small-caps">Detail Fabric</h2>
    <hr>
</div>

<div class="w3-container">
<div class="w3-card-4 w3-padding w3-margin-bottom w3-white" style="width: 80%; ">
  <div class="w3-container w3-deep-orange">
    <h2>Detail Fabric</h2>
  </div>
  <form class="w3-container" action='/secret/component/detail/{{this.fabric._id}}'>
        
    <label class="w3-text-blue"><b>Fabric Name</b></label>
    <input class="w3-input w3-border w3-light-grey" name="name" type="text" value="{{this.fabric.name}}" disabled>
         
    <label class="w3-text-blue"><b>Description</b></label>
    <input class="w3-input w3-border w3-light-grey" name="description" type="text" value="{{this.fabric.description}}" disabled>
          
    <label class="w3-text-blue"><b>Image</b></label>
    <input class="w3-input w3-border w3-light-grey" name="imageUrl" type="url" value="{{this.fabric.imageUrl}}" disabled>
         
    <label class="w3-text-blue"><b>Made of</b></label>
    <input class="w3-input w3-border w3-light-grey" name="material" type="text" value="{{this.fabric.material}}" disabled>
      
    <label class="w3-text-blue"><b>Fabric Length</b></label>
    <input class="w3-input w3-border w3-light-grey" name="length" type="number" value="{{this.fabric.length}}" disabled>
     
    <label class="w3-text-blue"><b>Fabric Width</b></label>
    <input class="w3-input w3-border w3-light-grey" name="width" type="number" value="{{this.fabric.width}}" disabled>
    
    <label class="w3-text-blue"><b>Main Color</b></label>
    <input class="w3-input w3-border w3-light-grey" name="color" type="text" value="{{this.fabric.color}}" disabled>
    
    <label class="w3-text-blue"><b>Pattern</b></label> <br>
    <p><input id="fabric-without-pattern" class="w3-radio w3-border w3-light-grey" name="pattern" type="radio" value="false" {{this.fabric.noPattern}} disabled>Fabric without a pattern</p>
    <p><input id="fabric-with-pattern" class="w3-radio w3-border w3-light-grey" name="pattern" type="radio" value="true" {{this.fabric.hasPattern}} disabled>Fabric has a pattern</p>
          
    <p>
    <button class="w3-btn w3-blue" type="button"><a href="/secret/component/view/">Close</a></button></p>
  </form>
  </div>
</div>
