<div id="start" class="header-spc"></div>

<div class="w3-container">
<div class="w3-card w3-round-large w3-margin-bottom w3-white" style="width: 80%; margin-left: 10%; ">
  <div class="w3-container w3-deep-orange w3-margin-bottom">
      <h3 class="small-caps">Edit Pattern</h3>
    </div>

    {{#if this.pattern.prjId}}
      <form class="w3-padding" action='/secret/component/edit/fabric/{{this.pattern._id}}/{{this.pattern.prjId}}' method="POST">
    {{else}}
      <form class="w3-padding" action='/secret/component/edit/fabric/{{this.pattern._id}}' method="POST">
    {{/if}}
     
        <label class="w3-text-blue"><b>Pattern Name</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="name" type="text" required value="{{this.pattern.name}}">
      
        <label class="w3-text-blue"><b>Description</b></label>
        <textarea class="w3-input w3-border w3-margin-bottom w3-ta-3" maxlength="500" rows="2" name="description">{{this.pattern.description}}</textarea>
      
        <label class="w3-text-blue"><b>Image</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="imageUrl" type="text" value="{{this.pattern.imageUrl}}">
      
        <label class="w3-text-blue"><b>Type of Clothing</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="typeOfClothes" type="text" required value="{{this.pattern.typeOfClothes}}">
      
        <label class="w3-text-blue"><b>Instructions</b></label>
        <textarea class="w3-input w3-border w3-margin-bottom w3-ta-3" maxlength="500" rows="2" name="instructions" type="text" required>{{this.pattern.instructions}}</textarea>
            
        <p>
          <button class="w3-button w3-blue" type="submit"><i class="fa fa-file-o fa-pad"></i>Save</button>
          {{#if this.fabric.prjId}}
            <button class="w3-button w3-dark-gray" type="button" onclick="window.location.assign('/secret/project/detail/{{this.fabric.prjId}}');"><i class="fa fa-times fa-pad"></i>Close</button>
          {{else}}
            <button class="w3-button w3-dark-gray" type="button" onclick="window.location.assign('/secret/component/view');"><i class="fa fa-times fa-pad"></i>Close</button>
          {{/if}}
        </p>
    </form>
  </div>
</div>
