<div id="start" class="header-spc"></div>

<div class="w3-container">
<div class="w3-card w3-round-large w3-margin-bottom w3-white" style="width: 80%; margin-left: 10%; ">
  <div class="w3-container w3-deep-orange w3-margin-bottom">
      <h3 class="small-caps">Detail Pattern</h3>
    </div>
    <form class="w3-padding" action='/secret/component/detail/{{this.pattern._id}}'>
  
        <label class="w3-text-blue"><b>Pattern Name</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="name" type="text" value="{{this.pattern.name}}" disabled>
      
        <label class="w3-text-blue"><b>Description</b></label>
        <textarea class="w3-input w3-border w3-margin-bottom w3-ta-3" maxlength="500" rows="2" name="description" disabled>{{this.pattern.description}}</textarea>
      
        <label class="w3-text-blue"><b>Image</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="imageUrl" type="text" value="{{this.pattern.imageUrl}}" disabled>
      
        <label class="w3-text-blue"><b>Type of Clothing</b></label>
        <input class="w3-input w3-border w3-margin-bottom" name="typeOfClothes" type="text" value="{{this.pattern.typeOfClothes}}" disabled>
      
        <label class="w3-text-blue"><b>Instructions</b></label>
        <textarea class="w3-input w3-border w3-margin-bottom w3-ta-3" maxlength="500" rows="2" name="instructions" disabled>{{this.pattern.instructions}}</textarea>
    <p>
    <button class="w3-button w3-blue w3-margin" type="button"><a href="/secret/component/view/">Close</a></button>
    </p>
    </form>
  </div>
  </div>