<div id="start" class="header-spc"></div>
<div class="w3-container">
  <h2 class="small-caps">Detail Pattern</h2>

  <div class="w3-card-4 w3-padding w3-margin-bottom w3-white" style="width: 80%; ">
    <div class="w3-container w3-deep-orange">
      <h2>Detail Pattern</h2>
    </div>
    <form class="w3-container" action='/secret/component/detail/{{this.pattern._id}}'>
      
        <label class="w3-text-blue"><b>Pattern Name</b></label>
        <input class="w3-input w3-border w3-light-grey" name="name" type="text" value="{{this.pattern.name}}" disabled>
      
        <label class="w3-text-blue"><b>Description</b></label>
        <input class="w3-input w3-border w3-light-grey" name="description" type="text" value="{{this.pattern.description}}" disabled>
      
        <label class="w3-text-blue"><b>Image</b></label>
        <input class="w3-input w3-border w3-light-grey" name="imageUrl" type="url" value="{{this.pattern.imageUrl}}" disabled>
      
        <label class="w3-text-blue"><b>Type of Clothing</b></label>
        <input class="w3-input w3-border w3-light-grey" name="typeOfClothes" type="text" value="{{this.pattern.typeOfClothes}}" disabled>
      
        <label class="w3-text-blue"><b>Instructions</b></label>
        <input class="w3-input w3-border w3-light-grey" name="instructions" type="text" value="{{this.pattern.instructions}}" disabled>
      <p>
        <button class="w3-btn w3-blue" type="button"><a href="/secret/component/view/">Close</a></button></p>
    </form>
  </div>
  </div>
