<div id="start" class="header-spc"></div>
<div class="w3-container w3-margin">
  <div class="w3-display-container">
    <div class="w3-display-topmiddle w3-card w3-white">
      <div class="small-caps w3-red w3-xlarge w3-padding">Do you really want to 
        {{#if this.object.pid}} Remove?{{else}} Delete?{{/if}}
      </div>
      <div class="w3-padding w3-row">
        <div class="w3-col l8">
          <form action="/secret/delete/{{this.object.type}}/{{this.object._id}}{{#if this.object.pid}}/{{this.object.pid}}{{/if}}"          
            method="post">
            <div class="w3-center w3-margin-bottom">
              <p class="w3-large w3-border w3-padding">{{this.object.name}}</p>
              <p class="w3-padding">{{this.object.decription}}</p>
            </div>
            <div class="w3-center">
              <button type="submit" class="w3-button w3-red w3-small">
              {{#if this.object.pid}}
              <i class="fa fa-eraser fa-pad"></i>Remove
              {{else}}
              <i class="fa fa-trash fa-pad"></i>Delete
              {{/if}}
              </button>
            </div>
          </form>
        </div>
        <div class="w3-col l4 w3-text-black" style="padding: 10px 30px 20px 10px;">
          {{#if this.object.pid}}
          <i class="fa fa-eraser fa-fw" style="font-size: 100px;"></i>&nbsp;
          {{else}}
          <i class="fa fa-trash fa-fw" style="font-size: 100px;"></i>&nbsp;
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>



