<div id="start" class="header-spc"></div>
<div class="w3-container">
    <h2 class="small-caps">Project Overview</h2>
    <a href="/secret/project/create" class="w3-button w3-wide w3-green w3-small w3-margin-bottom">
      <i class="fa fa-plus"></i> Add New Project</a><br>
    <div class="w3-flex">
    {{#each this.projects}}
        <div class="w3-flex-item-p w3-card w3-white">
            <div class="w3-flex-item-content">
                <div class="w3-margin-bottom">
                    <p class="w3-large w3-border w3-text-indigo">{{this.title}}</p>
                    <p class="w3-bar-item"><span class="w3-text-green">Project Id:</span> {{this._id}}</p>
                    <p class="w3-bar-item"><span class="w3-text-blue">Owner:</span> {{this.owner}}</p>
                    <p class="w3-bar-item"><span class="w3-text-blue">Description:</span> {{this.description}}</p>
                    <p class="w3-bar-item"><span class="w3-text-blue">Notes:</span> {{this.notes}}</p>
                    <p class="w3-bar-item"><span class="w3-text-blue">Status:</span> {{this.status}}</p>
                </div>
                <div class="w3-center">
                    <a href="/secret/project/detail/{{this._id}}" class="w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-eye"></i> View</a>
                    <a href="/secret/project/edit/{{this._id}}" class="w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-pencil"></i> Edit</a>
                    <a href="/secret/project/delete/{{this._id}}" class="w3-button w3-wide w3-red w3-small w3-margin-bottom"><i class="fa fa-trash"></i> Delete</a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
    <br>
    <a href="#header-spc" class="w3-button w3-wide w3-purple w3-small w3-margin-bottom"><i class="fa fa-arrow-up"></i></a>

</div>
