<div id="start" class="header-spc"></div>
{{#with this.project}}
<div class="w3-container">
  <h2 class="small-caps">Project Detail</h2>
  <div class="w3-flex">
    <div class="w3-flex-item w3-card w3-white">
      <div class="w3-flex-item-content">
        <div class="w3-margin-bottom">
          <span class=" w3-large w3-border w3-text-indigo">{{this.name}}</span>
          <p class="w3-bar-item"><span class="w3-text-green">Project Id:</span> {{this._id}}</p>
          <p class="w3-bar-item"><span class="w3-text-blue">Owner:</span> {{this.owner}}</p>
          <p class="w3-bar-item"><span class="w3-text-blue">Description:</span> {{this.description}}</p>
          <p class="w3-bar-item"><span class="w3-text-blue">Notes:</span> {{this.notes}}</p>
          <p class="w3-bar-item"><span class="w3-text-blue">Status:</span> {{this.status}}</p>
        </div> 
        <div>
          <a href="/secret/project/edit/{{this._id}}" class="w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-pencil"></i> Edit</a>
          <a href="/secret/delete/{{this.type}}/{{this._id}}" class="w3-button w3-wide w3-red w3-small w3-margin-bottom"><i class="fa fa-trash"></i> Delete</a>
          <a href="/secret/project/view" class="w3-right w3-button w3-wide w3-blue w3-small w3-margin-bottom"><i class="fa fa-eye"></i> View Projects</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-container">
  <a href="/secret/component/create" class="w3-button w3-wide w3-green w3-small w3-margin-bottom"><i class="fa fa-plus"></i> Assign Component</a>
  <div class="w3-flex w3-margin-bottom">
    {{#each this.components.pattern}}
      {{> component this}}
    {{/each}}
    {{#each this.components.fabrics}}
      {{> component this}}
    {{/each}}
  </div>
</div>
<div class="w3-container">
  <a href="#header-spc" class="w3-button w3-wide w3-purple w3-small w3-margin-bottom"><i class="fa fa-arrow-up"></i></a>
</div>
{{/with}}
